sprites/images/*
background/images/*
fonts/*.png
Configs/*
!Configs/Default.config.gmx
scripts/pal_swap_*
*.ogg
*.wav
*.shader
\#backups
datafiles
help.rtf
extensions
AM2R.exe
data.win
!sprites/images/sMapSP_0.png
!sprites/images/sMapSP_6.png
!sprites/images/sMapSP_7.png
!background/images/bgAM2RTitle.png